body {
    background: url("../images/background.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

img {
    max-height: 150px;
    width: auto;
}

h1, h3 {
    text-align: center;
    color: #666666;
}

.header {
    margin-top: -40px;
    margin-bottom: 20px;
    font-family: 'Cinzel';
}

.gameSpace {
    border: solid 3px #666666;
    background-color: #cecece;
    height: 400px;
}